# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
../../../../../Downloads/forge-1.20.2-48.1.0-mdk/.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

#MCreator stuff
*mcreator-backup*

### OSX (adds a lot of garbage)###
.DS_Store
.AppleDouble
.LSOverride